@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    /* font-family: "Winky Sans" , "sans-serif"; */
    font-family: "Montserrat Alternates" , "sans-serif";
    scroll-behavior: smooth !important;
}
p{
    font-family: "Montserrat Alternates" , "sans-serif" !important;
}
.hoverDiv{
    transition: all ease-in-out 0.3s !important;
}
.DetailsSec{
    background-color: rgba(255, 68, 0, 0.799);
    color: white;
    bottom: -100px;
    padding: 20px;
    position: absolute;
    transition: all ease-in-out 0.5s !important;
    
}
.hoverDiv:hover .DetailsSec{
    bottom: 0 !important;
}
.activeClass{
    transition: all ease-in-out 0.3s !important;
    border: 0px;
}
.activeClass::after{
    content: "";
    display: block;
    position: relative;
    bottom: -18px;
    left: 0px;
    border: 2px solid orange;
    background-color:orange;
    z-index: 1;
}
.motionText{
    font-size: 4rem;
    font-weight: 600;
    color: orange;
    text-align: center;
    padding: 20px 0px;
    /* text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.799); */
    letter-spacing: 4px;
    font-family: "Londrina Outline", "sans-serif" !important;
    filter: none !important;
}
.bgImg{
    background-image: url("/Images/Hero.jpg");
    box-shadow: 2850px -2510px 81px rgba(0, 0, 0, 0.7) inset ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
}
input , textarea , select, option , label, ::placeholder{
    background-color: transparent !important;
    color: orange !important;
}


/* =-=-=-=-=-==-=-Scrolbar start=-=-=-=-==-=-=-=- */
/* WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: darkorange;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: orange;
}

/* Firefox (Apply to specific elements) */
body {
    scrollbar-width: thin;
    scrollbar-color: orange #f1f1f1; /* thumb color | track color */
}


/* =-=-=-=-=-==-=-Scrolbar end =-=-=-=-==-=-=-=- */



/* Change pagination bullet color */
.swiper-pagination-bullet {
    background: white !important; /* Default color */
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  
  /* Active bullet color */
  .swiper-pagination-bullet-active {
    background: orange !important; /* Change to your preferred color */
    transform: scale(1.2); /* Slightly enlarge the active bullet */
  }
  
.gallaryAllImg{
    width: 50%;
    max-height: 70%;
    object-fit: fill;
    transition: all ease-in-out 0.3s !important;
    outline-offset: -15px;
    outline: 4px solid rgb(255, 140, 0);
    border-radius: 40px;
}